.card-creator {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 2.3rem;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

button {
  cursor: pointer;
  background-color: #394aa0;
  color: white;
  border: none;
  border-radius: 4px;
  margin: 3rem;
  padding: 1rem;
}

select,
input {
  padding: 1rem;
  margin: 1rem;
  width: 15rem;
  font-size: 1rem;
}
.card-preview {
  width: 30vw;
  height: 80vh;
  background-repeat: no-repeat;
  /* background-size: contain; */
  margin: 2rem;
}

.card-preview div {
  font-size: 2.5rem;
  word-wrap: break-word;
  font-weight: 600;
  color: rgb(51, 49, 49);
  text-align: center;
  overflow: hidden;
}

.message {
  padding: 3rem 1rem;
}

.name {
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .card-creator {
    flex-direction: column;
    justify-content: center;
  }

  .card-preview {
    width: 80vw;
    height: 80vh;
  }

  .card-preview div{
    font-size: 1.5rem;
  }
}
